@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    background: #1F2937;
    padding: 50px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    
}

.container .logo{
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

.list_link ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.list_link ul li a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 15px;
}

.hero_one{
    padding: 50px 100px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content p{
    font-size: 18px;
    color: #E5E7EB;
}

.content button{
    background: #3882F6;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
}

.hero_two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.hero_two h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.content_image{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content_images{
    display: flex;
    gap: 50px;
}

.content_image span{
    border: 3px solid #3882F6;
    padding: 20px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    
}

.content_image p{
    font-size: 12px;
    width: 110px;
    text-align: center;
}

.hero_three{
    background: #E5E7EB;
    margin-top: 100px;
    
}

.hero_three p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 50px 150px;
}

.hero_three span{
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    display: block;
}

.hero_four{
    background: #3882F6;
    color: #F9FAF8;
    margin: 100px 200px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.title_signup p{
    font-size: 16px;
}

.hero_four button{
    border: 2px solid #F9FAF8;
    outline: none;
    background: transparent;
    color: #F9FAF8;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.copyright{
    background: #1F2937;
    color: #F9FAF8;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    font-size: 15px;
}